html, body
{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 213, 255);
    margin: 0;
}

.container_pagina
{
    font-family: monospace;
    margin:5vh;
}

#titulos
{
    font-size: 6vh;
    font-style: oblique;
    font-family: monospace;
    color: red;
}

#textoNaPagina
{
    font-family: monospace;
    font-size: 4vh;
    color: rgb(0, 0, 0);
}


#box
{
    display: flex;
    height: 22vh;
    width: 82vh;
    margin-top: 2vh;
    background-color: black;
    border-radius: 0.5vh;
    border-color: rgb(132, 0, 255);
}

#boxText
{
    display: flex;
    
}

#boxContent-Text
{
    display: flex;
    justify-content: start;
    color: rgb(255, 255, 255);
    
}


.boxImage
{
    margin-right: 1vh;
    width: 50vh;
    height: 50vh;
    overflow: hidden;
}

.boxImage img
{
    margin: 0.5vh;
    width: 20vh;
    height: 21vh;
    display: block;
}

#botaoReviews
{
    width: 18vh;
    height: 2vh;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-left: 35vh;
    margin-right: 0.58vh;
    
}

.content
{
    margin-left: 10vh;
    font-family: Arial;
}

.textBody
{
    padding-left: 1vh;
    background-color: rgb(156, 231, 252);
    font-size: 2vh;
    margin:1vh;
    width: 80vh;
}

.titulosRev
{
    margin: 1vh;
}

#pagRet
{
    font-size: 2vh;
    font-weight: bold;
    margin-left: 1vh;
}

#form
{
    width: 50vh;
    height: 100vh;
    margin:5vh auto;
    margin-top: 40vh;
}

#formSendRevw
{
    width: 100%;
    height: 100%;
    margin: auto;

}


.conteiner
{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 5vh;
}

#novaReview
{
    width: 50vh;
    height: 50vh;
    margin-left: 50px auto;

}

#tradução
{
    display: flex;
    align-items: center;
    color: black;
}